/** 
 * The style rules specify elements by type and by attributes such 
 * as class and ID. Each section indicates an element or elements, 
 * then lists the style properties to apply. You can cross-reference
 * the rules in this file with the elements in index.html
*/

/**
 * CSS variables let you put things like brand colors and fonts in
 * one place, so you don't mistype them
 */
:root {
  --color-bg: rgb(255, 255, 255);
  --color-text: #ffffff;
  --color-primary: #FF2E2E;
  --color-secondary: rgb(243, 238, 238);
  --color-dark: rgb(37, 42, 51);
  --font-family-body: "Lexend Deca", Verdana, Geneva, Tahoma, sans-serif;
  --font-weight-body: normal;
  --font-family-header: "Anderson Grotesk", sans-serif;
  --font-weight-header: 900;
  --margin-small: 1.5rem;
  --margin-medium: 3rem;
  --margin-big: 6rem;
}

/* fonts */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lexenddeca/v21/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnFirZPl3v-.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Anderson Grotesk';
  src: url('./fonts/AndersonGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Basic page style resets, building on the ones boostrap does */
body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
  color: var(--color-primary);
  font-size: 3rem;
  margin: var(--margin-medium) 0;
}

h2 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
  font-size: 2rem;
  margin-top: 1rem;
}

h3 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-header);
  margin-top: 1rem;
  font-variant: all-small-caps;
  font-size: 2.5rem;
}

a {
  color: var(--color-primary);
}

/* Header styles */
header {
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  background-image: url("images/header-background.png")
}

header p {
  color: var(--color-dark);
  font-size: 1.25rem;
}

header small {
  font-size: 1rem;
}

/* main body, scrollytelling part styles */
#backdrop-img {
  width: 100%;
}

article {
  position: relative;
  padding: 0; /** on a wide screen don't make text boxes full-width **/
  margin: 0 auto;
}

figure {
  position: sticky; /** don't move this within the bounds of the #scrolly wrapper **/
  left: 0;
  width: 100%; /** make image fill the whole screen **/
  height: 100%;
  margin: 0;
  background-color: var(--color-secondary);
}

figure div.wrapper {
  /** center the image in the box **/
  display: flex;
  justify-content: center;
}

figure img {
  height: 100%; /** make the image fill the box **/
}

.step {
  position: relative;
  padding: 10vh 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

.step img.inline-img {
  border: 1px solid var(--color-dark);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.step:last-child {
  margin-bottom: 0;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  max-width: 50rem;
  position: relative;
  z-index: 1;
  margin: 0 auto 10px;
  background-color: var(--color-dark);
  border-radius: 25px;
  border: 1px solid var(--color-dark);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

/* social media elements */

.social-icon {
  width: 50px;
  height: auto;
  margin: 1rem;
}

/* background images */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-image { animation: fadeIn 1s; }
.fade-out-image { animation: fadeOut 1s; }

.background-imgs {
  position: fixed;
  z-index: 0;
  opacity: 0;
  animation-fill-mode: forwards;
}

#eddie-aaron {
  width: 40vw;
  height: auto;
  right: 2vw;
  bottom: 0vh;
}

#graffiti-wkshp {
  width: 25vw;
  height: auto;
  left: 1vw;
  bottom: 0vh;
}

#drummers {
  width: 25vw;
  height: auto;
  left: 20vw;
  bottom: 15vh;
}

#michelle-wu {
  width: 10vw;
  height: auto;
  left: 0vw;
  bottom: 0vh;
}

#dancers {
  width: 45vw;
  height: auto;
  right: 0vw;
  bottom: 0vh;
}

#dancers-2 {
  width: 40vw;
  height: auto;
  left: 22vw;
  bottom: 0vh;
}

/* videos */
.step video {
  border: 1px solid var(--color-dark);
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  margin-top: var(--margin-medium);
  z-index: 1;
  transition: opacity 1s;
}

.horizontal-vid {
  width: 50vw;
}

.vertical-vid {
  width: 25vw;
}

/* inline images */
.inline-img {
  width: 45vw;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  z-index: 1;
}

#chalk {
  width: 25vw;
}

/* Footer styles */
footer {
  color: var(--color-bg);
  background-color: #FF2E2E;
  padding: 5rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}

footer a {
  color: var(--color-bg);
}
footer a:hover {
  color: var(--color-bg);
}
footer a:visited {
  color: var(--color-bg);
}

/* mobile formatting */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .inline-img {
    width: 90%;
  }
  
  #chalk {
    width: 90%;
  }
  
  .horizontal-vid {
    width: 90%;
  }
  
  .vertical-vid {
    width: 90%;
  }
  
  .header-background {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
  }
  
  #backdrop-img {
    height: 100vh;
  }
  
  #drummers {
    width: 35vw;
    bottom: 5vh;
  }
  
  #michelle-wu {
    width: 20vw;
  }

  #dancers {
    width: 55vw;
  }

  #dancers-2 {
    width: 50vw;
  }
  
  #eddie-aaron {
    width: 50vw;
  }

  #graffiti-wkshp {
    width: 35vw;
  }
}
