/** 
 * The style rules specify elements by type and by attributes such 
 * as class and ID. Each section indicates an element or elements, 
 * then lists the style properties to apply. You can cross-reference
 * the rules in this file with the elements in index.html
*/

/**
 * CSS variables let you put things like brand colors and fonts in
 * one place, so you don't mistype them
 */
:root {
  --color-bg: rgb(
    255,
    255,
    255
  ); /** this is a color in red, green, and blue values (each from 0 to 255) **/
  --color-text: #ffffff;
  --color-primary: #FF2E2E;
  --color-secondary: #0088cc;
  --font-family-body: "Playfair Display", serif;
  --font-weight-body: bold;
  --font-family-header: "Gill Sans", sans-serif;
}

/* Basic page style resets, building on the ones boostrap does */
body {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

h1 {
  color: var(--color-primary);
  font-family: var(--font-family-header);
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-family: var(--font-family-header);
  font-size: 2rem;
  margin-top: 1rem;
}

h3 {
  font-family: "Gill Sans", sans-serif;
  margin-top: 1rem;
  font-variant: all-small-caps;
  font-size: 2.5rem;
  font-weight: bold;
}

a {
  color: var(--color-primary);
}

/* Header styles */
header {
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

header p {
  color: #5A5A5A;
  font-size: 1.25rem;
}

header small {
  font-size: 1rem;
}


/* main body, scrollytelling part styles */
#backdrop-img {
  width: 100%;
}

article {
  position: relative;
  padding: 0; /** on a wide screen don't make text boxes full-width **/
  margin: 0 auto;
}

figure {
  position: sticky; /** don't move this within the bounds of the #scrolly wrapper **/
  left: 0;
  width: 100%; /** make image fill the whole screen **/
  height: 100%;
  margin: 0;
  background-color: #471705;
}

figure div.wrapper {
  /** center the image in the box **/
  display: flex;
  justify-content: center;
}

figure img {
  height: 100%; /** make the image fill the box **/
}

figcaption {
  position: relative;
  top: -2.5rem;
  color: var(--color-bg);
  background-color: rgba(255, 255, 255, 0.5); /* opacity is the 4th parameter */
  display: inline-block;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.step {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.step:last-child {
  margin-bottom: 0;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  max-width: 50rem;
  position: relative;
  z-index: 1;
  margin: auto;
}


#eddie-aaron {
  width: 40vw;
  height: auto;
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 0;
}

#graffiti-wkshp {
  width: 25vw;
  height: auto;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 0;
}

#drummers {
  width: 25vw;
  height: auto;
  left: 250px;
  bottom: 100px;
  position: absolute;
  z-index: 0;
}

#michelle-wu {
  height: 500px;
  width: auto;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 0;
}

#dance-wkshp{
  width: 25vw;
  height: auto;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 3s;
}

#trike{
  width: 50vw;
  height: auto;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;

}

#dancers-2{
  width: 35vw;
  height: auto;
  left: 400px;
  bottom: 10px;
  position: absolute;
  z-index: 0;
}


#instagram{
  width: 10vw;
  height: auto;
  left: 10vw;
  bottom: 50vw;
  position: absolute;
}
#tiktok{
  width: 10vw;
  height: auto;
  left: 40vw;
  bottom: 50vw;
  position: absolute;
}
#kidsVideo{
  width: 25vw;
  height: auto;
  opacity: 0;
  transition: opacity 1s;
}
/* Footer styles */

footer {
  color: var(--color-bg);
  background-color: #FF2E2E;
  padding: 5rem 0 1rem 0;
  text-align: center;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}

footer a {
  color: var(--color-bg);
}
footer a:hover {
  color: var(--color-bg);
}
footer a:visited {
  color: var(--color-bg);
}
